/* Limpar formatações padrões*/
* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    background: rgb(219, 216, 216);
}

/* Layout*/

#cabecalho{
    background: #012340;
    padding: 15px;
    text-align: center;
    width: 1510px;
}

#logo{
    padding: 10px;
}

#blocoLinks{
    text-align: left;
    padding: 10px;
    height: 17px;
    background-color: #023E73;
}

/* Formatação menu/links*/

a{
    text-decoration: none;
    padding: 8px 12px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited{
    color: #F0F1F2;
}

a:hover{ 
    text-decoration: underline;
    color: #05F2DB;
}

.linkF a{
    padding-left: 0;
    padding-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.linkF a:link, a:visited{
    color: rgba(75, 140, 166, 1)

}

a:hover{ 
    text-decoration: underline;
    color: #023E73;
}

#menu a:hover{
    background: white;
}

#imagemL{
    position: absolute;
    left: 55px;
    top: 20px;
}

#principal{
    width: 1040px;
    margin: 0 auto;
    float: left;
    padding: 15px;
    margin-left: 240px;
}

#postagens{
    width: 660px;
    float: left;
}

#lateral{
    width: 320px;
    float: right;
}


.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}



/* Formatação geral*/

h1{
    color: #F0F1F2;
    font-size: 2.5em;
    font-family: 'Bai Jamjuree', sans-serif;
}

h2{
    font-family: 'Bai Jamjuree', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
    padding: 2px;
}

h3{
    color: #565656;
    background: #CCC;
    padding: 5px; 
    margin-bottom: 4px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
    font-size: 1em;
}

p {
    padding-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 23px;
    text-align: justify;
    text-indent: 1px;
    color: #000000;
}

.data{
    font-size: 0.8em;
    padding-left: 3px;
    padding-top: 0.5px;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}


h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.imgpost{
    position: absolute;
    padding-left: 210px;
    padding-top: 30px;
}

.imgpost2{
    position: absolute;
    margin-top: -20px;
    padding-left: 210px;
}

#rodape{
    clear: both;
    position: relative;
    background: #012340;
    padding: 15px;
    width: 1510px;
    height: 100px;
}

#coluna1{
    position: absolute;
    left: 18.77%;
    right: 69.82%;
    top: 8.25%;
    bottom: 23.02%;
    font-family: Content;
    font-size: 1em;
    line-height: 20px;
    color: #F0F1F2;
}

li{
    list-style: none;
}

#coluna2{
    position: absolute;
    left: 35.99%;
    right: 51.67%;
    top: 8.25%;
    bottom: 31.96%;
    font-family: Content;
    font-size: 1em;
    line-height: 20px;
    color: #F0F1F2;
}

#coluna3{
    position: absolute;
    left: 54.67%;
    right: 35.9%;
    top: 8.25%;
    bottom: 31.96%;
    font-family: Content;
    font-size: 1em;
    line-height: 20px;
    color: #F0F1F2;
}

#tt img{
    position: absolute;
    left: 76.39%;
    right: 18.95%;
    top: 11.68%;
    bottom: 63.23%;
}

#face img{
    position: absolute;
    left: 81.62%;
    right: 13.72%;
    top: 11.68%;
    bottom: 63.23%;
}

#insta img{
    position: absolute;
    left: 86.79%;
    right: 8.17%;
    top: 11.68%;
    bottom: 63.23%;
}

#copy p{
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.linkL li a{
    color: white;
}
